.footer {
  position: absolute;
  width: 40%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  bottom: 15px;

  a {
    cursor: pointer;
  }

  svg {
    fill: var(--color-footer) !important;
  }
}

.githubIcon {
  margin-top: -5px;
}