.wrapper {
  position: absolute;
  top: -28px;
  border-radius: 20px;
  background-color: var(--bg-wrapper-calculator);
  width: 449px;
  height: 460px;
  opacity: 0.9;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25), 0px 4px 31px rgba(0, 0, 0, 0.25);
}

.body {
  margin-top: 57px;
}

.title {
  font-size: 36px;
  color: var(--text-color-primary)
}

.subTitle {
  font-size: 14px;
  font-weight: normal;
  display: block;
  color: var(--subtitle-color);
}

.calculator {
  position: absolute;
  top: 210px;
  text-align: center;
  color: var(--text-color-secondary);
}

.changeButton {
  margin: 16px 0 16px 155px;
  border: none;
  border-radius: 3px;
  background-color: var(--change-icon-bg-color);
  svg {
    fill: var(--change-icon-color) !important;
  }
}

.equal {
  margin-left: 144px;
}
