label {
  padding-top: 10px;
}

.label {
  position: relative;
  margin-left: 108px;
  margin-right: 13px;
  min-width: 34px;
  padding-top: 15px;
}

.input {
  border: none;
  border-radius: 8px;
  max-width: 186px;
  background-color: var(--gray-500);
  color: #83dbd0;
  text-align: end;
  padding: 5px;

  p {
    font-size: 14px;
    color: #83dbd0;
  }
  
  input {
    color: #fff;
  }
}

.inputAdornment {
  padding-right: 10px;
}