label {
  padding-top: 10px;
}

.label {
  position: relative;
  margin-right: 13px;
  min-width: 34px;
  padding-top: 15px;
}

.input {
  border: none;
  border-radius: 8px;
  min-width: 186px;
  background-color: var(--bg-input);
  color: var(--text-color-primary);
  text-align: end;
  padding: 5px;

  p {
    font-size: 14px;
    color: var(--text-color-primary);
  }
  
  input {
    color: var(--text-color-primary);
  }
}

.inputAdornment {
  padding-right: 10px;
}